.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__image {
    width: 26rem;
    border-radius: 0.0625rem;
  }

  &__button&__button {
    margin-top: 1rem;
  }

  a {
    text-decoration: none;
  }
}

@media (max-width: 500px) {
  .container {
    width: 100%;

    &__image {
      width: 85%;
    }
  }
}