.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 23rem;
}
.form__element.form__element {
  margin: 0.85rem 0;
}
.form__element.form__element_input {
  height: 4.7rem;
  margin: 0;
}
.form__element.form__element_radio-group {
  flex-direction: row;
  margin-top: 0;
}
.form__element.form__element-buttons {
  display: flex;
  justify-content: flex-end;
}
.form__element.form__element-button:last-of-type {
  margin-left: 1rem;
}
.form a {
  text-decoration: none;
}
@media (max-width: 500px) {
  .form {
    width: 100%;
  }
}
